*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}

body{
background:#0a192f;
color:white;
display:flex;
}

.sidebar{
width:230px;
height:100vh;
background:#020c1b;
padding:25px;
position:fixed;
box-shadow:0 0 20px #00e5ff;
animation:glow 2s infinite alternate;
}

@keyframes glow{
from{box-shadow:0 0 10px #00e5ff;}
to{box-shadow:0 0 25px #00e5ff;}
}

.sidebar a{
display:block;
color:white;
text-decoration:none;
margin:15px 0;
cursor:pointer;
transition:.3s;
}

.sidebar a:hover{
color:#00e5ff;
transform:translateX(5px);
}

.main{
margin-left:230px;
padding:40px;
width:100%;
}

.section{
display:none;
}

.active{
display:block;
}

.small-profile{
width:80px;
height:80px;
border-radius:50%;
object-fit:cover;
border:3px solid #00e5ff;
box-shadow:0 0 15px #00e5ff;
}

.card{
background:#112240;
padding:20px;
border-radius:15px;
margin-top:20px;
}

.skill,.project{
margin:10px 0;
background:#0a192f;
padding:10px;
border-radius:8px;
}

.social-link{
display:flex;
align-items:center;
gap:10px;
margin:12px 0;
text-decoration:none;
color:white;
transition:.3s;
}

.social-link:hover{
color:#00e5ff;
transform:translateX(5px);
}

input,textarea{
width:100%;
padding:10px;
margin:10px 0;
border-radius:5px;
border:none;
}

.btn{
background:#00e5ff;
border:none;
padding:10px 20px;
border-radius:25px;
cursor:pointer;
}

.typing{
color:#00e5ff;
font-weight:bold;
font-size:20px;
height:30px;
margin-top:5px;
}
